@model DotNetCoreBoilerplate.Models.Customer

@{
    ViewData["Title"] = "Delete";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
@* 
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3> *@
<div>
    
    <div class="row">
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </div>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertUserId)
        </dd> *@
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </div>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateUserId)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd> *@
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-hidden="true">Back to List</button>
    </form>
</div>
